.userAvatar {
  background-color: #E6F7FF !important;
  width: 100% !important;
  height: auto !important;
  aspect-ratio: 1 / 1 !important;
}

.userDetails {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.followRow {
  margin-top: 0.75em;
  width: 100%;
}

.followPoint {
  cursor: pointer;
}

.followBtn {
  margin-top: 1.5em;
  width: 100%;
}

.bigText {
  font-size: 1.5rem;
}

.learnedLessons {
  margin: 0.5rem 0;
  width: 100%;
  cursor: default;
}
