.userAvatar {
  background-color: #E6F7FF !important;
  width: 100% !important;
  height: auto !important;
  aspect-ratio: 1 / 1 !important;
}

.userDetails {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.learnedLessons {
  margin: 0.5rem 0;
  cursor: default;
}
