@import "~antd/dist/antd.css";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1 {
  margin: 0;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-input {
  border-radius: 7px;
}
